* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
}

:root {
    --brand-green: #00856F;
    --brand-green-light: #DCE9E2;
    --brand-green-light-02: #F7F9F9;
    --brand-beige: #FFFAF1;
    --brand-green-hover: #00453A;

    --gray-headline: #061800;
    --gray-paragraph: #384633;
    --white: #3e3e3e;

    font-size: 14px;
}


header {
    position: absolute;
    width: 1366px;
    height: 72px;
    left: 0px;
    top: 0px;
}

.normal-header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

nav img {
    position: absolute;
    width: 132.86px;
    height: 17.38px;
    left: 124.78px;
    top: 26.91px;

}

nav ul {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 345px;
    height: 21px;
    left: 513px;
    top: 25px;
    color: var(--brand-green);
    list-style: none;
    gap: 32px;
    text-decoration: none;
    
}

a {
    text-decoration: none;
    color: var(--brand-green);
}



nav button {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 16px;

    position: absolute;
    width: 190px;
    height: 38px;
    left: 1053px;
    top: 15px;

    /* Primary Colors/brand-green */

    border: 1px solid #00856F;
    border-radius: 40px;

    color: var(--brand-green);
    font-weight: 700;
}

#home {
    width: 1366px;
    height: 678px;
    margin-top: 106px;
}

#home img.mulher {
    position: absolute;
    width: 420px;
    height: 547px;
    left: 779px;
    top: 76px;
}


#home button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 16px;
    position: absolute;
    width: 263px;
    height: 52px;
    left: 123px;
    top: 435px;
    background-color: var(--brand-green);
    border-radius: 40px;
    
}

#home button a {
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

 #home button img {
    width: 20px;
    height: 20px;
    color: white;
    margin: 16px;
 }