* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
        
}

:root {
    --brand-green: #00856F;
    --brand-green-light: #DCE9E2;
    --brand-green-light-02: #F7F9F9;
    --brand-beige: #FFFAF1;
    --brand-green-hover: #00453A;
    --gray-headline: #212529;
    --gray-paragraph: #384633;
    --white: #3e3e3e;

    font-size: 62.5%;
}

html, body {
    height: 100%;
    /* overflow-x: hidden; */
}


/* -------------------------NORMAL HEADER----------------------------------- */
.header {
    position: fixed;
    width: 100%;
    height: 7.2rem;
    z-index: 2;
    top: 0rem;
    padding: 0 3%;
    list-style: none;
    transition: background-color 0.5s ease;
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1%;

}

.header nav img {
    width: 13.3rem;

}

.header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 35rem;
    list-style: none;
    height: 4.7rem;
    
    
}

.header nav ul li a{
    height: 2.1rem;
    color: var(--brand-green);
    list-style: none;
    gap: 3.2rem;
    text-decoration: none;
    font-size: 1.6rem;
    
}

.header nav ul li a:hover{
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: var(--brand-green);
}

.header nav button {
    text-transform: uppercase;
    align-items: center;
    padding: 1rem 2.4rem;
    width: 19rem;
    height: 3.8rem;
    border: 1px solid var(--brand-green);
    border-radius: 4rem;
    color: var(--brand-green);
    font-weight: 700;
    background-color: white;
}

.header nav button:hover {
    background-color: var(--brand-green);
    color: white;
    cursor: pointer;
}

/* -------------------------FIXED HEADER----------------------------------- */
.header.fixed-header {
    background-color: var(--brand-green);
    
}

.header.fixed-header #logo{
    content: url(./assets/LOGO-branco.svg);
}


.header.fixed-header nav ul li a{
    color: white;
    
}

.header.fixed-header nav button {
    border: 1px solid white;
    background-color: var(--brand-green);
    color: white;
}

.header.fixed-header nav button:hover {
    background-color: var(--brand-beige);
    color: var(--brand-green);
    cursor: pointer;
}

/* -------------------------HOME----------------------------------- */


#home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 100%;
    height: 64.8rem;
    margin-top: 11.4rem;
    background-color: var(--brand-green-light);
    display: flex;
    flex-wrap: wrap;
}

#home .container {
    max-width: 112.2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   

}

#home .apresentacao {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60.5rem;
    margin-top: 15.2rem;
   
}

#home img.mulher {
    width: 35rem;
    height: 50.7rem;
    margin-top: 7.6rem;
    margin-left: 5.1rem;
   
}

#home a {
    width: 0;
    text-decoration: none;
}


#home a button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 3.2rem;
    gap: 1.6rem;
    border: none;
    width: 26.3rem;
    height: 5.2rem;
    background-color: var(--brand-green);
    border-radius: 4rem;
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
}

#home a button img {
    width: 2rem;
    height: 2rem;
    color: white;
    
}

#home button:hover {
    background-color: var(--brand-green-hover);
    cursor: pointer;
}

#home h3 {
    width: 100%;
    margin-bottom: 1.6rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.06em;
    color: var(--brand-green);
    
 }

 #home .apresentacao h2 {
    width: 100%;
    margin-bottom: 1.6rem;
    font-weight: 700;
    font-size: 5.0rem;
    line-height: 130%;
    color: #212529;
 }

 #home h4 {
    width: 100%;
    height: 5.4rem;
    margin-bottom: 4rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
 }

 
#home .stats {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 112.2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: -5rem;
    background-color: var(--brand-beige);
    border: 1px solid var(--brand-green-light);
    border-radius: 0.6rem;
    z-index: 1;
}

#home .stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0.4rem;
}

#home .stats h2{
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 130%;
    color: var(--gray-headline);
    background-color: var(--brand-beige);

}

#home .stats p {
    width: 18.3rem;
    height: 2.4rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--brand-green);
}


#home .stats .divider {
    opacity: 0.5;
}


/* -------------------------SERVIÇOS----------------------------------- */

#servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

#servicos h3 {
    width: 100%;
    text-align: center;
    margin-top: 14.9rem;
    margin-bottom: 1.6rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08em;
    line-height: 2.1rem;
    color: var(--brand-green);
}

#servicos > p {
    width: 100%;
    margin-bottom: 6.4rem;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.2rem;
    text-align: center;
    color: var(--gray-headline);
}

#servicos .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 113rem;
    width: 100%;
    gap: 4rem;
    margin-bottom: 16rem;
}

#servicos .cards .card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: start;
    padding: 2.4rem;
    gap: 1.6rem;
    width: 100%;
    max-width: 32.7rem;
    height: 23rem;
    background-color: white;
    border: 1px solid var(--brand-green-light);
    border-radius: 0.6rem;
}

#servicos .cards .card img {
    max-width: 2.4rem;
    max-height: 2.4rem;
    margin-bottom: -2rem;
}

#servicos .cards .card h4 {
    font-weight: 700;
    font-size: 2.3rem;
    color: var(--gray-headline);

}

#servicos .cards .card p {
    width: 100%;
    max-height: 7.2rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: #495057;
}


/* -------------------------SOBRE----------------------------------- */

#sobre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: var(--brand-beige);
   

}

#sobre img {
    max-width: 48rem;
    height: 41.4rem;
    margin: 16rem 0;
    margin-right: 6.7rem;
}

#sobre .content {
    width: 57.3rem;

}

#sobre .content h4 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: var(--brand-green);
}

#sobre .content h3 {
    margin-bottom: 2.4rem;
    max-width: 44.7rem;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.2rem;
    color: var(--gray-headline);
}

#sobre .content p {
    width: 100%;
    max-width: 57.3rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: #495057;
}

/* -------------------------CONTATO----------------------------------- */

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    
    
} 

#contact > img {
    max-width: 57.5rem;
    height: 37.9rem;
    margin: 16rem 0;
}

#contact .contato {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
  
}

#contact .contato h3 {
    max-width: 40.4rem;
    margin-bottom: 4rem;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.2rem;
}

#contact .contato h4:nth-child(2) {
    max-width: 18.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #495057;
}

#contact .contato h4:nth-child(3) {
    max-width: 23.3rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #495057;
}

.contato a {
    text-decoration: none;
    color: var(--brand-green);
}

#contact .contato a button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 3.2rem;
    gap: 1.6rem;
    border: 0;
    max-width: 26.7rem;
    height: 5.2rem;
    background-color: var(--brand-green);
    border-radius: 4rem;
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
}

#contact .contato a button:hover {
    background-color: var(--brand-green-hover);
    cursor: pointer;
   
}

/* -------------------------FOOTER----------------------------------- */

#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 26.8rem;
    background-color: var(--brand-green);
}

#footer .footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 25.6rem;

}

#footer .footer img {
    margin-bottom: 2.4rem;
    width: 25.6rem;
    height: 3.3rem;
}

#footer .footer h3:nth-child(2) {
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--brand-beige);
}

#footer .footer h3:nth-child(3) {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--brand-beige);
}

#footer .social {
    display: flex;
    width: 13.6rem;
    gap: 3.2rem;
}

/* ----------------------RESPONSIVO--------------------------- */

@media (max-width: 1024px) {

    #home {
        height: auto;
    }

    #home .container {
        max-width: none;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-top: 2rem;
    }

    #home .apresentacao {
        align-items: center;
        width: 80%;
        margin: 0;
        text-align: center;
    }

    #home .apresentacao h2 {
        line-height: normal;
    }

    #home .apresentacao a button {
        margin-left: -12rem;
    }

    #home img.mulher {
        margin: 0 auto;
    }

    #sobre {
        padding: 2%;
    
    }

    #sobre img {
        margin-right: 4%;
    }

    #contact {
        padding: 2%;
    }

    #contact > img {
        width: 70%;
        height: 70%;
    }
}

@media (max-width: 768px) {
    #home img.mulher {
        margin-bottom: -4%;
    }

    #home .stats {
        margin: 0 auto;
        margin-bottom: -35%;
        width: 80%;
    }
    
    #home .stat {
        width: 100%;
        margin-bottom: 6rem;
    }

    #home .stats .divider {
        display: none;
    }

    #servicos h3 {
        margin-top: 34rem;
    }

    #servicos p {
        width: 80%;
    }

    #sobre {
        flex-direction: column-reverse;
        align-items: center;
    }

    #sobre > img {
        width: 80%;
        height: 80%;
        margin: 0 auto;
        margin-top: 6rem;
        margin-bottom: 10rem;
    }

    #sobre .content {
        width: 80%;
        margin-right: 0;
        margin-top: 10rem;
    }

    #contact {
        flex-direction: column;
    }

    #contact .contato {
        width: 80%;
        margin-top: 10rem;
    }

    #contact > img {
        width: 80%;
        height: 80%;
        margin-top: 6rem;
    }

    #footer {
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    #footer .footer {
        margin-bottom: 3.2rem;
        margin-left: 4%;
    }

    #footer .social {
        margin-bottom: 3.2rem;
        margin-left: 4%;
    }
}

@media (max-width: 530px) {
    #home .apresentacao a button {
        margin-top: 4rem;
    
    }

    #home img.mulher {
        width: 80%;
        margin-top: 2rem;
    }

    #home .stats {
        margin-bottom: -50%;
    }

    #servicos .cards .card {
        width: 80%;
        height: 27rem;
        
    }

    #servicos .cards .card p {
        width: 80%;
        height: auto;
    }
}