* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    /* width: auto; */
    box-sizing: border-box;
    
        
}

:root {
    --brand-green: #00856F;
    --brand-green-light: #DCE9E2;
    --brand-green-light-02: #F7F9F9;
    --brand-beige: #FFFAF1;
    --brand-green-hover: #00453A;
    --gray-headline: #212529;
    --gray-paragraph: #384633;
    --white: #3e3e3e;

    font-size: 62.5%;
}


body {
    overflow-x: hidden;
}
/* -------------------------HEADER----------------------------------- */

header {
    position: absolute;
    width: auto;
    height: 7.2rem;
    left: 8rem;
    top: 0px;
    
}

.normal-header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

nav img {
    position: absolute;
    width: 13.286rem;
    height: 1.738rem;
    left: 12.478rem;
    top: 2.691rem;

}

nav ul {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 34.5rem;
    height: 2.1rem;
    left: 51.3rem;
    top: 2.5rem;
    color: var(--brand-green);
    list-style: none;
    gap: 3.2rem;
    text-decoration: none;
    font-size: 1.6rem;
    
}

a {
    text-decoration: none;
    color: var(--brand-green);
}



nav button {
    box-sizing: border-box;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;
    position: absolute;
    width: 19rem;
    height: 3.8rem;
    left: 105.3rem;
    top: 1.5rem;
    border: 1px solid #00856F;
    border-radius: 4rem;

    color: var(--brand-green);
    font-weight: 700;
}

nav button:hover {
    background-color: var(--brand-green);
    color: white;
}

/* -------------------------HOME----------------------------------- */


#home {
    
    width: auto;
    height: 67.8rem;
    margin-top: 10.6rem;
    background-color: var(--brand-green-light);
    align-items: center;
    display: flex;
    justify-content: center;
}

#home .apresentacao {
    position: absolute;
    width: 60.5rem;
    height: 33.5rem;
    left: 8rem; 
    top: 7.6rem;
}

#home img.mulher {
    position: absolute;
    width: 42rem;
    height: 54.7rem;
    left: 85rem;
    top: 9.9rem;
    margin-top: 7.6rem;
    margin-right: 16.7rem;
    margin-bottom: 5.5rem;
    border: none;
   
}


#home a button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 3,2rem;
    gap: 1.6rem;
    position: absolute;
    border: none;
    width: 26.7rem;
    height: 5.2rem;
    left: 12.3rem;
    top: 43.5rem;
    background-color: var(--brand-green);
    border-radius: 4rem;
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    
}

#home a button img {
    width: 2rem;
    height: 2rem;
    color: white;
    
}

#home button:hover {
    background-color: var(--brand-green-hover);
}

 #home h3 {
    position: absolute;
    width: 25.4rem;
    height: 2.1rem;
    left: 12.3rem;
    top: 15.2rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.06em;
    color: var(--brand-green);
    
 }

 #home .apresentacao h2 {
    position: absolute;
    width: 60.5rem;
    height: 13.6rem;
    left: 12.3rem;
    top: 18.9rem;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 130%;
    color: #212529;
 }

 #home h4 {
    position: absolute;
    width: 58.5rem;
    height: 5.4rem;
    left: 12.3rem;
    top: 34.1rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
 }

 
#home .numeros {
    display: flex;
    justify-content: space-between;
    flex-basis: auto;
    box-sizing: border-box;
    position: absolute;
    width: 112.2rem;
    height: 21rem;
    top: 67rem;
    background-color: var(--brand-beige);
    border: 1px solid var(--brand-green-light);
    border-radius: 0.6rem;
    z-index: 1;
}

#home .numeros h2{
    position: absolute;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 130%;
    color: var(--gray-headline);
    background-color: var(--brand-beige);

}

#home .numeros p {
    position: absolute;
    width: 18.3rem;
    height: 2.4rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--brand-green);
}

#home .numeros .paciente {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    content: cover;
    width: 37.4rem;
    height: 21rem;
    position: absolute;
    flex-grow: 1;
    flex-basis: auto;
    border-right: 1px solid;
    border-image: linear-gradient(var(--brand-beige), var(--brand-green), var(--brand-beige)) 1;

}


#home .numeros .paciente h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 8.5rem;

}

#home .numeros .paciente p {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 6.6rem;
    

}

#home .numeros .especialista {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 37.4rem;
    flex-basis: auto;
    border-right: 1px solid;
    border-image: linear-gradient(var(--brand-beige), var(--brand-green), var(--brand-beige)) 1;

}


#home .numeros .especialista h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 53rem;
    bottom: 8.5rem;
}

#home .numeros .especialista p {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 6.6rem;
    left: 48.5rem;
}

#home .numeros .anos {
    display: flex;
    flex-grow: 1;
    flex-basis: auto;

    align-items: center;
    justify-content: center;

}

#home .numeros .anos h2 {
    display: flex;
    justify-content: center;
    align-items: center;
   
    bottom: 8.5rem;
}

#home .numeros .anos p {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 6.6rem;
    left: 85.5rem;
    
}


/* -------------------------SERVIÇOS----------------------------------- */
#servicos {
    position: absolute;
    width: 100vw;
    height: 108.2rem;
    /* background-color: var(--brand-green-light-02); */
    top: 67.8rem;
    
}



#servicos > h3 {
    position: absolute;
    margin: 0 auto;
    width: 7.6rem;
    height: 2.1rem;
    left: 74rem;
    top: 26.3rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08em;
    line-height: 2.1rem;
    color: var(--brand-green);
}

#servicos > p {
    position: absolute;
    width: 49.7rem;
    height: 10.4rem;
    left: 52rem;
    top: 30rem;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.2rem;
    text-align: center;
    color: var(--gray-headline);
}

#servicos .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    width: 113rem;
    height: auto;
    left: 19.5rem;
    top: 46.8rem;
    gap: 4rem;
    
}

#servicos .cards .card {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: end;
    padding: 2.4rem;
    gap: 1.6rem;
    width: 34.7rem;
    height: 23rem;
    background-color: white;
    border: 1px solid var(--brand-green-light);
    border-radius: 0.6rem;
}

#servicos .cards .card img {
    width: 2.4rem;
    margin-top: 0;
    height: 2.4rem;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
    
}

#servicos .cards .card h4 {
    width: 28rem;
    display: flex;
    text-align: left;
    height: 2rem;
    top: 0;
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 3.1rem;
    text-align: center;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: var(--gray-headline);

}

#servicos .cards .card p {
    width: 29.9rem;
    height: 7.2rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: #495057;
    flex: none;
    order: 2;
    flex-grow: 0;
}


/* -------------------------SOBRE----------------------------------- */

#sobre {
    position: absolute;
    width: 100vw;
    height: 73.4rem;
    left: 0;
    top: 176rem;
    background-color: var(--brand-beige);
}


#sobre img {
    position: absolute;
    width: 48rem;
    height: 41.4rem;
    left: 19.5rem;
    top: 16rem;
}

#sobre .content {
    position: absolute;
    width: 57.3rem;
    height: 32.7rem;
    left: 74rem;
    top: 20.3rem;
}

#sobre .content h4 {
    position: absolute;
    width: auto;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08em;
    
    color: var(--brand-green);
}

#sobre .content h3 {
    position: absolute;
    top: 3rem;
    width: 44.7rem;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.2rem;
    color: var(--gray-headline);
}

#sobre .content p {
    position: absolute;
    width: 57.3rem;
    top: 15.8rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: #495057;
}

/* -------------------------CONTATO----------------------------------- */

#contact {
    position: absolute;
    top: 249.4rem;
    width: 100vw;
    height: 69.9rem;
    background-color: white;
    display: inline-block;
    
} 

#contact > img {
    position: absolute;
    width: 57.5rem;
    height: 37.9rem;
    top: 16rem;
    left: 74rem;
}

#contact .contato {
    width: 40.4rem;
    height: 30.4rem;
}

#contact .contato h3 {
    position: absolute;
    width: 40.4rem;
    height: 10.4rem;
    left: 19.5rem;
    top: 19.8rem;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.2rem;
}

#contact .contato h4:nth-child(2) {
    position: absolute;
    width: 18.6rem;
    height: 2.4rem;
    left: 19.5rem;
    top: 34.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #495057;
}

#contact .contato h4:nth-child(3) {
    position: absolute;
    width: 23.3rem;
    height: 2.4rem;
    left: 19.5rem;
    top: 38.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #495057;
}

#contact .contato a button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 3,2rem;
    gap: 1.6rem;
    position: absolute;
    border: 0;
    width: 26.7rem;
    height: 5.2rem;
    left: 19.5rem;
    top: 43.5rem;
    background-color: var(--brand-green);
    border-radius: 4rem;
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
}

#contact .contato a button:hover {
    background-color: var(--brand-green-hover);
   
}

/* -------------------------FOOTER----------------------------------- */

#footer {
    width: 100vw;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: end; */
    height: 26.8rem;
    background-color: var(--brand-green);
    position: absolute;
    left: 0px;
    top: 319.3rem;
}

#footer .footer {
    position: absolute;
    display: flex;
    align-items: center;
    width: 25.6rem;
    height: 10.8rem;
    left: 19.5rem;
    top: 5rem;
}

#footer .footer img {
    position: absolute;
    width: 25.6rem;
    height: 3.3rem;
}

#footer .footer h3:nth-child(2) {
    position: absolute;
    width: 13.7rem;
    height: 1.8rem;
    top: 8.3rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--brand-beige);
}

#footer .footer h3:nth-child(3) {
    position: absolute;
    width: 18.9rem;
    height: 1.8rem;
    top: 11.3rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--brand-beige);
}

#footer .social {
    position: absolute;
    display: flex;
    width: 13.6rem;
    height: 2.4rem;
    left: 110.8rem;
    top: 12.2rem;
    gap: 3.2rem;
}